<!--Title-->

.principalTitleMain{margin: 5% 0% 0% 0%;}

<!--ToDo-->

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal {
	background: #f4e136;
	border-top: 3px solid #00000034;
    border-bottom: 3px solid #00000034;
	color: #fff;
	padding: 50px 0;
	width: 100%;
}

.wrap .titleToDo{
    color:#000000;
   
}

.principal .form {
	color: #797474;
	text-align: center;
}

.principal .form input[type=text] {
	border: 2px solid #ebeaea;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
	padding: 3px;
	width: 80%;
}

.principal .form input[type=text].error {
	border: 2px solid #f50303;
}

.principal .form .button {
	background-color: #ebeaea56;
	border: 1px solid #ebeaea;;
	color: rgb(5, 5, 5);
	display: inline-block;
	font-size: 18px;
    font-family: 'Inter', sans-serif;
	padding: 15px;
}

.principal .form .boton:hover {
	border: 1px solid #fff;
}

/* - Tareas - */
.tasks .list {
	list-style: none;
}

.tasks .list li {
	border-bottom: 1px solid #B6B6B6;
}

.tasks .list li a {
	color: #000000;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}

.tasks .list li a:hover {
	text-decoration: line-through;
}

.buttonRecognize{
    background-color: #ebeaeacb;
	border: 1px solid #ebeaea;;
	color: rgb(5, 5, 5);
	display: inline-block;
	font-size: 18px;
    font-family: 'Inter', sans-serif;
	padding: 15px;
}