<!--Title-->

.principalTitleMain{margin: 5% 0% 0% 0%;}

<!--ToDo-->

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal {
	background: #f4e136;
	border-top: 20px solid #080808;
	color: #fff;
	padding: 50px 0;
	width: 100%;
}

.principal .form {
	color: #212121;
	text-align: center;
}

.principal .form input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.principal .form input[type=text].error {
	border: 5px solid #000000;
	color: rgb(0, 0, 0);
}

.principal .form .button {
	background: none;
	border: 1px solid #000000;
	color: rgb(0, 0, 0);
	display: inline-block;
	font-size: 16px;
	padding: 15px;
}

.principal .form .boton:hover {
	border: 1px solid #fff;
}

/* - Tareas - */
.tareas .lista {
	list-style: none;
}

.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
}

.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}

.tareas .lista li a:hover {
	text-decoration: line-through;
}